<!DOCTYPE html>
{% load static from staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" >
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <link href="{% static 'DataTables/css/dataTables.bootstrap.min.css' %}" rel="stylesheet" type="text/css" media="screen" />
    <script src="{% static  'js/bootstrap.min.js' %}" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
{#    <script src="{% static 'js/jquery-3.1.1.js' %}"></script>#}
{#    <script src="{% static 'DataTables/js/jquery.dataTables.min.js' %}"></script>#}
    <script src="{% static 'DataTables/js/dataTables.bootstrap.min.js' %}"></script>


    {#    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">#}
{#     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">#}
{#     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">#}
{#     <link href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css" rel="stylesheet" type="text/css" media="screen" />#}
{#     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>#}
     <script src="//code.jquery.com/jquery-1.12.3.js"></script>
     <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
{#    <script src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>#}

    <title>Title</title>
</head>
<body>
<script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
                $('#charts').DataTable()
    } );
</script>
<div class="container">
  <h2>СИСТЕМА СМАЗКИ</h2>
    <table id = "charts" class="table table-hover table-striped">
    <thead>
      <tr>
        <th>Код</th>
        <th>Наименование</th>
        <th>Бренд</th>
        <th>Кол-во на складе</th>
        <th>Кол-во в резерве</th>
        <th>Цена, грн.</th>
        <th>Цена со скидкой грн.</th>
        <th>Примечание</th>
      </tr>
    </thead>
    <tbody>
    {% for part in parts %}
      <tr>
        <td>{{ part.code_text }}</td>
        <td>{{ part.name_text }}</td>
        <td>{{ part.brand_text }}</td>
        <td>{{ part.number_stock }}</td>
        <td>{{ part.number_reserve }}</td>
        <td>{{ part.price_float }}</td>
        <td>{{ part.price_discount }}</td>
        <td>{{ part.note_text }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
</body>
</html>